*{
	font-size: 16px;  
	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
}

body{ margin: 0;
}

/* UNTUK BACKGROUND LAMAN LOGIN & REGISTER */  
body.coba{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url("https://dashboard.qiscus.com/images/dashboard/image-wave.svg");
}

/* BARIS 19-96 : UNTUK KOTAK LOGIN & REGISTER */
.login, .register{
	width: 400px;
	margin: 100px auto;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.login h1, .register h1{
  	font-size: 24px;
	color: #5b6574;
	text-align: center;
	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}

.login .links, .register .links{
  	display: flex;
  	padding: 0 15px;
}

.login .links a, .register .links a{
	color: #adb2ba;
	font-weight: bold;  
	display: inline-flex;
  	text-decoration: none;
  	padding: 0 10px 10px 10px;
}

.login .links a:hover, .register .links a:hover{
  	color: #9da3ac;
}

.login .links a.active, .register .links a.active{
	color: #22ba5f;  
	border-bottom: 3px solid #22ba5f;
}

.login form, .register form{
  	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
  	justify-content: center;
}

.login form label, .register form label{
  	width: 50px;
	height: 50px;
	display: flex;
	color: #ffffff;
	align-items: center;
	justify-content: center;  
	background-color: #22ba5f;
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"]{
  	width: 310px;
	height: 50px;
	padding: 0 15px;
	margin-bottom: 20px;
  	border: 1px solid #dee0e4;  	
}

.login form input[type="submit"], .register form input[type="submit"]{
	border: 0;
	width: 100%;
  	padding: 15px;
	cursor: pointer;
	color: #ffffff;
	margin-top: 20px;
  	font-weight: bold;
	background-color: #22ba5f;  
	transition: background-color 0.2s;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover{
  	background-color: #34eb4c;
  	transition: background-color 0.2s;
}

/* BARIS 99-140 : UNTUK NAVIGATION BAR BAGIAN ATAS SETELAH LOGIN */
.navtop{
	border: 0;
	width: 100%;
	height: 60px;
	background-color: #22ba5f;
}

.navtop div{
	height: 100%;
  	display: flex;
  	width: 1000px;
	margin: 0 auto;
}

.navtop div h1, .navtop div a{
	align-items: center;
	display: inline-flex;
}

.navtop div h1{
  	flex: 1;
 	margin: 0;
	padding: 0;  
	color: white;
	font-size: 24px;  
	font-weight: normal;
}

.navtop div a{
	padding: 0 20px;
	color: white;
	font-weight: bold;
  	text-decoration: none;
}

.navtop div a i{
  	padding: 2px 8px 0 0;
}

.navtop div a:hover{
  	color: whitesmoke;
}

/* BARIS 143-SELESAI : UNTUK LAMAN SETELAH LOGIN */
body.loggedin{
  	background-color: #f3f4f7 !important;
}

.content{
  	width: 1000px;
  	margin: 0 auto;
}

.content h2{
  	margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
	color: black;  
	border-bottom: 1px solid black;
  	
}

.content > p, .content > div{
  	padding: 25px;
	margin: 25px 0;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.content > p table td, .content > div table td{
	padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child{
	color: black;
	font-weight: bold;
	padding-right: 15px;
}

.content > div p{
	padding: 5px;
	margin: 0 0 10px 0;
}
