<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">

<style>
	body{
		background-image: url('https://dashboard.qiscus.com/images/dashboard/image-wave.svg');	
	}

	.kotak{
		color: white;
		background-color: rgba(3, 99, 75, 0.7);
		text-align: center;
		width: 700px;
		margin: auto;
		margin-top: 100px;
		padding-bottom: 50px;
	}

</style>
<title>hasil</title>
</head>
<body>
	<div class="kotak"> <br>
	<h2> HASIL DIAGNOSA</h2>
	<img src="dokter.png" style="width: 500px;">
	<p> Sitem kami menyatakan bahwa gejala yang dimasukkan teridentifikasi mengidap penyakit </p>
</div>
</body>