<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">

<style>
	body{
		background-image: url('https://dashboard.qiscus.com/images/dashboard/image-wave.svg');	
	}

</style>
<title>inputan data parkinson</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

</head>

<style type="text/css">
	.forms{
		margin-right: 50px;
		margin-left: 50px;
		margin-top: 70px;
	}
</style>

<body>


	<div class="forms">

		<h2>INPUTAN DATA GEJALA PARKINSON</h2><br>
		<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Jenis Kelamin</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Input Gambar Tangan Kanan/Kiri</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

 <div class="form-group">
    <label for="exampleInputEmail1">Upload Gambar Tangan</label>
    <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
 
  <div class="form-group">
    <label for="exampleInputEmail1">Usia</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Rata-rata Relatif Tremor</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>


  
  <button type="submit" class="btn btn-primary">Cek</button>
</form>
	</div>
  
<a href="{{ url_for('parkinson_home') }}">Kembali ke portal</a>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

</body>