<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">

  <style>body{
		background-image: url('https://dashboard.qiscus.com/images/dashboard/image-wave.svg');	
	}</style>

  <title>inputan data jantung</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
</head>

<style type="text/css">
	.forms{
		margin-right: 50px;
		margin-left: 50px;
		margin-top: 70px;
	}
</style>

<body>


	<div class="forms">

		<h2>INPUTAN DATA GEJALA JANTUNG</h2><br>
		<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Umur</label>
    <input name="umur" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Jenis Kelamin</label>
    <input name="je_ka" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Tipe Nyeri Dada</label>
    <input name="cp" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Tekanan Darah Saat Tidak Berolahraga (normal) </label>
    <input name="blood_pres" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

 <div class="form-group">
    <label for="exampleInputEmail1">Kolestrol</label>
    <input name="chol" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
 
  <div class="form-group">
    <label for="exampleInputEmail1">Fasting Blood Sugar</label>
    <input name="fbs" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Hasil Elektrokardiogravi</label>
    <input name="res_electro" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Detak Jantung Permenit</label>
    <input name="heart_rate" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Apakah Pasien Terkena Angina Saat Berolahraga</label>
    <input name="angia" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

 <div class="form-group">
    <label for="exampleInputEmail1">Oldpeak</label>
    <input name="oldpeak" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">slope</label>
    <input name="slope" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Jumlah Pembuluh Utama Pada Jantung</label>
    <input name="n_vena" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Talium</label>
    <input name="thal" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <input type="submit">
</form>
	</div>
	
  <a href="{{ url_for('jantung_home') }}">Kembali ke portal</a>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

</body>
</html>