<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<title>Masuk</title>
		<link rel="shortcut icon" type="image/png" href="https://i.ibb.co/QDd01hK/favicon.png"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	
	<body class="coba">
		<div class="login">
	
			<h1>Neura Health</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Masuk</a>	<!-- FUNGSI login() dari main.py YANG AKAN DIRENDER OLEH TEMPLATE ENGINE -->
				<a href="{{ url_for('register') }}">Daftar</a>				<!-- FUNGSI register() dari main.py YANG AKAN DIRENDER OLEH TEMPLATE ENGINE -->
			</div>

			<!-- BAGIAN KOTAK FORM -->
			<form action="{{ url_for('login') }}" method="post">
				<label for="email"> <i class="fas fa-user"></i> </label>		<!-- LOGO AKUN -->
				<input type="email" name="email" placeholder="Surel" id="email" required>
				
				<label for="pass_word"> <i class="fas fa-lock"></i> </label>		<!-- LOGO PASSWORD -->
				<input type="password" name="pass_word" placeholder="Sandi Lewat" id="pass_word" required>
				
				<div class="msg">{{ msg }}</div>		<!-- VARIABEL DARI main.py YANG AKAN DIEKSEKUSI OLEH TEMPLATE ENGINE -->
				<input type="submit" value="Login">
			</form>
	
		</div>
	</body>
</html>