{% extends 'Layout_Portal_Dokter.html' %}
{% block title %}Dasbor{% endblock %}
   
{% block content %}
      <center><h1>AI WEB MODEL DEPLOYED!1!1!1</h1>
      <form method="POST">
            <input name="n_hamil" placeholder="Jumlah Kehamilan" required><br><br>
            <input name="glukosa" placeholder="Kadar Glukosa" required><br><br>
            <input name="tekanan_darah" placeholder="Tekanan Darah" required><br><br>
            <input name="ketebalan_kulit" placeholder="Ketebalan Kulit" required><br><br>
            <input name="kadar_insulin" placeholder="Kadar Insulin" required><br><br>
            <input name="bmi" placeholder="Body Mass Index" required><br><br>
            <input name="riwayat" placeholder="Keluarga dengan Riwayat Diabetes" required><br><br>
            <input name="umur" placeholder="Umur" required><br><br>
            <input type="submit">
      </form>
      </center>
{% endblock %}