{% extends 'layout.html' %}             <!-- MEMUAT TEMPLATE DARI layout.html -->
{% block title %}Profil{% endblock %}  <!-- NAMA TAB = Profile -->

{% block content %}     <!-- MEMUAT BAGIAN TEMPLATE KONTEN DARI layout.html -->
<h2>Laman Profil</h2>
<div>
    <p>Ini adalah detail akun Anda, Dokter :</p>
    <table>
        <!-- DATA-DATA DI BAWAH INI DIAMBIL DARI DATABASE -->
        <tr>
            <td>Nama Pengguna</td>
            <td>: {{ account['doctor_name'] }}</td>
        </tr>
        
        <tr>
            <td>Sandi Lewat</td>
            <td>: {{ account['pass_word'] }}</td>
        </tr>
        
        <tr>
            <td>Surel</td>
            <td>: {{ account['email'] }}</td>
        </tr>

        <tr>
            <td>Nama Rumah Sakit</td>
            <td>: {{ account['hospital_name'] }}</td>
        </tr>

        <tr>
            <td>Kode Rumah Sakit</td>
            <td>: {{ account['hospital_code'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}